body {
  height: 100%;
  width: 100%;
  margin: 0rem;
  overflow: hidden;
  font-family: "Raleway";
  background-color: black;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link>i,
.meta-link>span {
  height: 20px;
  line-height: 20px;
}

.meta-link>span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.bottomLeft {
  position: fixed;
  bottom: 30px;
  left: 10px;
}

#slidersContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* Espace entre les sliders et le conteneur semi-transparent */
  position: fixed;
  bottom: 20px;
  left: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  /* Fond semi-transparent */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.slider {
  width: 300px;
  height: 100px;
  margin-top: 0px;
}

.slider .show-value {
  position: relative;
  width: 100%;
  height: 55px;
}

.slider .show-value .colorName span {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  color: #111;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(50) scale(0);
  transform-origin: bottom;
  transition: transform 300ms ease-in-out;
}

.colorName {
  margin: 10px;
}


.slider input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #f5f5f5;
  border-radius: 2px;
  outline: none;
  border: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}

.slider .range {
  margin-top: 10px;
  position: relative;
}

.slider .range div {
  position: absolute;
  color: #ddd;
  font-weight: 600;
}

.slider .range div:nth-child(2) {
  right: 0px;
}

.slider-container {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.slider-container.visible {
  opacity: 1;
  transform: translateY(0);
}

button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #888;
  color: white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: rgba(136, 136, 136, 0.6);
  color: #fff;
  /* Couleur du texte au survol */
}

button:active {
  transform: translateY(2px);
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}


#degradeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.button-container {
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
}

#themeContainer, #natureContainer {
  display: none;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #888;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

#themeContainer.visible {
  display: flex;
  transform: translateX(0%);
}

.theme-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.theme-circle.animate {
  animation: fadeIn 0.5s ease-in-out;
}

#natureContainer.animate {
  animation: fadeIn 0.5s ease-in-out;
}

#natureContainer.visible {
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
}

#natureContainerWrapper {
  position: relative;
}

#natureContainer {
  position: absolute;
  width: 45%;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  button {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  #slidersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .slider {
    width: 90%;
  }
}